{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}

<div class="flex justify-center py-10">
    <div class="w-4/5 bg-white text-sm rounded-lg px-3 py-2 ">
      <div class="flex space-x-10"><button>One</button><button>Round</button></div>
      <div class="second flex py-2 font-mono">
        <div
          class="cursor-pointer transition duration-450 FROM pr-16 rounded-l-lg border-2 border-r-0 hover:bg-blue-100 py-4">
          <div class="w-56 h-64 bg-white fixed mt-6 rounded-lg py-2 px-2 space-y-1 hidden">
            <div class="search h-10 bg-gray-700 flex space-x-1 "><input name="" id="search"
                class="w-full h-full px-5 py-1.5 text-gray-700 bg-white bg-clip-paddingborder border-0 border-none focus:border-none focus:border-0"
                style="border: none; 
                border-width: 0; 
                box-shadow: none;"><i class="ri-search-line fixed mt-2.5"></i></div>
              <div class="w-full h-full overflow-auto">
            <div class="flex bg-white space-x-1 hover:bg-gray-300">
              <div class="plane px-1"><i class="ri-flight-takeoff-line text-3xl"></i></div>
              <div class="location w-2/3">
                <div class="city">Kathmandu,Nepal</div>
                <div class="airport">TIA</div>
              </div>
              <div class="sector pr-1">KTM</div>
            </div>
            <div class="flex bg-white space-x-1 hover:bg-gray-300">
              <div class="plane px-1"><i class="ri-flight-takeoff-line text-3xl"></i></div>
              <div class="location w-2/3">
                <div class="city">Kathmandu,Nepal</div>
                <div class="airport">TIA</div>
              </div>
              <div class="sector pr-1">KTM</div>
            </div>
            <div class="flex bg-white space-x-1 hover:bg-gray-300">
              <div class="plane px-1"><i class="ri-flight-takeoff-line text-3xl"></i></div>
              <div class="location w-2/3">
                <div class="city">Kathmandu,Nepal</div>
                <div class="airport">TIA</div>
              </div>
              <div class="sector pr-1">KTM</div>
            </div>
            <div class="flex bg-white space-x-1 hover:bg-gray-300">
              <div class="plane px-1"><i class="ri-flight-takeoff-line text-3xl"></i></div>
              <div class="location w-2/3">
                <div class="city">Kathmandu,Nepal</div>
                <div class="airport">TIA</div>
              </div>
              <div class="sector pr-1">KTM</div>
            </div>
            <div class="flex bg-white space-x-1 hover:bg-gray-300">
              <div class="plane px-1"><i class="ri-flight-takeoff-line text-3xl"></i></div>
              <div class="location w-2/3">
                <div class="city">Kathmandu,Nepal</div>
                <div class="airport">TIA</div>
              </div>
              <div class="sector pr-1">KTM</div>
            </div>
            <div class="flex bg-white space-x-1 hover:bg-gray-300">
              <div class="plane px-1"><i class="ri-flight-takeoff-line text-3xl"></i></div>
              <div class="location w-2/3">
                <div class="city">Kathmandu,Nepal</div>
                <div class="airport">TIA</div>
              </div>
              <div class="sector pr-1">KTM</div>
            </div>
            <div class="flex bg-white space-x-1 hover:bg-gray-300">
              <div class="plane px-1"><i class="ri-flight-takeoff-line text-3xl"></i></div>
              <div class="location w-2/3">
                <div class="city">Kathmandu,Nepal</div>
                <div class="airport">TIA</div>
              </div>
              <div class="sector pr-1">KTM</div>
            </div>
            <div class="flex bg-white space-x-1 hover:bg-gray-300">
              <div class="plane px-1"><i class="ri-flight-takeoff-line text-3xl"></i></div>
              <div class="location w-2/3">
                <div class="city">Kathmandu,Nepal</div>
                <div class="airport">TIA</div>
              </div>
              <div class="sector pr-1">KTM</div>
            </div>
          </div>
          </div>

          <div class="1  pl-2 font-medium text-gray-700">FROM</div>
          <div class="n pl-2 text-3xl font-extrabold">Kathmandu</div>
          <div class="3 pl-2 text-gray-500">KTM</div>
        </div>


        <div class="cursor-pointer fixed mt-5 ml-52 "><i
            class="text-2xl ri-arrow-left-right-line rounded-full border-2 w-10 h-10 py-1 fixed text-center text-blue-600 bg-white hover:bg-blue-600 hover:text-white"></i>
        </div>

        <div class="cursor-pointer transition duration-450 TO pl-6 pr-20 border-2 border-r-0 hover:bg-blue-100 py-4">
          <div class="w-56 h-64 bg-white fixed mt-6 rounded-lg py-2 px-2 space-y-1 hidden">
            <div class="search h-10 bg-gray-700 flex space-x-1 "><input name="" id="search"
                class="w-full h-full px-5 py-1.5 text-gray-700 bg-white bg-clip-paddingborder border-0 border-none focus:border-none focus:border-0"
                style="border: none; 
              border-width: 0; 
              box-shadow: none;"><i class="ri-search-line fixed mt-2.5"></i></div>
            <div class="h-full w-full overflow-auto">
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
              <div class="flex bg-white space-x-1 hover:bg-gray-300">
                <div class="plane px-1"><i class="ri-flight-land-line text-3xl"></i></div>
                <div class="location w-2/3">
                  <div class="city font-extrabold">Kathmandu,Nepal</div>
                  <div class="airport text-gray-500">TIA</div>
                </div>
                <div class="sector pr-1 text-gray-500">KTM</div>
              </div>
            </div>
          </div>
          <div class="1 font-medium text-gray-700">TO</div>
          <div class="n text-3xl font-extrabold">Bhadrapur</div>
          <div class="3 text-gray-500">BDP</div>
        </div>
        <div class="cursor-pointer DEP pl-2 w-96 border-2 border-r-0 hover:bg-blue-100 py-4">
          <div class="flex space-x-1">
            <div class="1 font-medium text-gray-700">DEPARTURE</div>
            <div class="arrow text-blue-700 font-bold"><i class="ri-arrow-down-s-line"></i></div>
          </div>
          <div class="flex space-x-1">
            <div class="n text-3xl font-extrabold">6</div>
            <div class="month text-xl">Apr'22</div>
          </div>
          <div class="3 text-gray-500 ">Wednesday</div>
        </div>
        <div class="cursor-pointer RETURN pl-2 pr-20 border-2 border-r-0 hover:bg-blue-100 py-4">
          <div class="flex space-x-1">
            <div class="1 font-medium text-gray-700">RETURN</div>
            <div class="text-blue-700 font-bold"><i class="ri-arrow-down-s-line"></i></div>
          </div>
        </div>
        <div class="cursor-pointer TRAVELLERS pl-2 w-96 rounded-r-lg border-2 hover:bg-blue-100 py-4">
          <div class="flex space-x-1">
            <div class="1 font-medium text-gray-700">TRAVELLERS</div>
            <div class="arrow text-blue-700 font-bold"><i class="ri-arrow-down-s-line"></i></div>
          </div>
          <div class="flex space-x-1">
            <div class="n text-3xl font-extrabold">3</div>
            <div class="month text-xl">Travellers</div>
          </div>
          <div class="3 text-gray-500 ">1 Adult(s),2 Child(s)</div>
        </div>
      </div>
      <div class="third">c</div>
    </div>
{% endblock body %}